<div class="container">
  <h1>Dashboard - <%= @seller.name %></h1>
  <div class="row">
    <div class="col">
      <h2>Meus leilões</h2>
      <h4>Abertos</h4>
      <ul class="list-group">
        <% @auctions.select { |auct| auct.deadline > Time.now }.each do |auction| %>
          <li class="list-group-item">
            <div class="row">
              <span class="col-1"><%= "#{auction.id}" %></span>
              <span class="col-4"> Buyer: <%= "#{auction.user.first_name} #{auction.user.last_name}" %></span>
              <span class="col-6">Time left: <%= "#{distance_of_time_in_words(Time.now, auction.deadline.to_time)}" %></span>
              <%= link_to '<i class="fas fa-hand-point-up"></i>'.html_safe, new_auction_seller_bid_path(auction, @seller), class: 'col-1' %>
            </div>
          </li>
        <% end %>
      </ul>
      <h4>Encerrados</h4>
      <ul class="list-group">
        <% @auctions.select { |auct| auct.deadline < Time.now }.each do |auction| %>
          <li class="list-group-item">
            <div class="row">
              <span class="col-1"><%= "#{auction.id}" %></span>
              <span class="col-4">Buyer: <%= "#{auction.user.first_name} #{auction.user.last_name}" %></span>
              <span class="col-6">Finished: <%= "#{auction.deadline.to_time.strftime("%d/%m/%Y - %H:%M")}" %></span>
              <%= link_to '<i class="fas fa-search"></i>'.html_safe, auction_path(auction), class: 'col-1' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <h2>Meus lances</h2>
      <h4>Abertos</h4>
      <ul class="list-group">
        <% @seller.bids.select { |bd| bd.auction.deadline > Time.now }.each do |bid| %>
          <li class="list-group-item">
          <div class="row">
            <span class="col-1"><%= "#{bid.id}" %></span>
            <span class="col-4"> Auction: <%= "#{bid.auction.id}" %></span>
            <span class="col-6"><%= number_to_currency(bid.total, unit: "R$ ", separator: ",", delimiter: "") %></span>
            <%= link_to '<i class="fas fa-search"></i>'.html_safe, bid_path(bid), class: 'col-1' %>
          </div>
          </li>
        <% end %>
      </ul>
      <h4>Vencedores</h4>
      <ul class="list-group">
        <% @seller.bids.select { |bd| bd.auction.deadline < Time.now && bd.status }.each do |bid| %>
          <li class="list-group-item">
          <div class="row">
            <span class="col-1"><%= "#{bid.id}" %></span>
            <span class="col-4"> Auction: <%= "#{bid.auction.id}" %></span>
            <span class="col-6"><%= number_to_currency(bid.total, unit: "R$ ", separator: ",", delimiter: "") %></span>
            <%= link_to '<i class="fas fa-search"></i>'.html_safe, bid_path(bid), class: 'col-1' %>
          </div>
          </li>
        <% end %>
      </ul>
      <h4>Perdedores</h4>
      <ul class="list-group">
        <% @seller.bids.select { |bd| bd.auction.deadline < Time.now && bd.status == false }.each do |bid| %>
          <li class="list-group-item">
          <div class="row">
            <span class="col-1"><%= "#{bid.id}" %></span>
            <span class="col-4"> Auction: <%= "#{bid.auction.id}" %></span>
            <span class="col-6"><%= number_to_currency(bid.total, unit: "R$ ", separator: ",", delimiter: "") %></span>
            <%= link_to '<i class="fas fa-search"></i>'.html_safe, bid_path(bid), class: 'col-1' %>
          </div>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
