<div class="container">
<h1>Bids#edit</h1>
<%= simple_form_for [@bid] do |f| %>

  <div class="row border my-1">
      <div class="col">
        Quantidade
      </div>
      <div class="col">
        Produto
      </div>
      <div class="col">
        Produto
      </div>
      <div class="col">
        Preço Unit.
      </div>
      <div class="col">
        Total
      </div>
    </div>
  <%= f.simple_fields_for :bid_products do |ff|%>

  <div class="row bg-white border">

    <% product = Product.find(@bid.bid_products[ff.index].product_id) %>

    <div class="col">
      <%= ff.input :quantity%>
    </div>
    <div class="col">
    <%= "product .photo"  %>
    </div>
    <div class="col">
    <%= product.description  %>
    </div>
    <div class="col">
    <%= ff.input :unit_price %>
    </div>
    <div class="col">
    <%= "total prices" %>
    </div>
  </div>
  <% end %>

  <%= f.input :total, disabled: true, id: 'bid-total' %>
  <%= f.submit %>
<% end %>
</div>
