<h1>Bids#edit</h1>
<%= simple_form_for [@bid] do |f| %>
  <%= f.simple_fields_for :bid_products do |ff|%>
  <%= ff.input :quantity %>
  <%= ff.input :unit_price %>
  <% end %>
  <%= f.input :total, disabled: true, id: 'bid-total' %>
  <%= f.submit %>
<% end %>
