<div class="container bids">
  <div class="m-4 my-5 border rounded-lg shadow p-3 px-5 bg-white d-flex flex-column justify-content-between" data-controller="bid">
    <h1><%= I18n.translate('bid_edit.s_bid') %></h1>
    <%= simple_form_for [@bid] do |f| %>
      <div class="row rounded shadow-sm p-1 mx-1 my-3 bg-light">
        <div class="col-6 text-center">
          <%= I18n.translate('bid_edit.s_product') %>
        </div>
        <div class="col-1 text-center">
          <%= I18n.translate('bid_edit.s_quant') %>
        </div>
        <div class="col-3 text-center">
          <%= I18n.translate('bid_edit.s_un_price') %>
        </div>
        <div class="col-2 text-center">
          <%= I18n.translate('bid_edit.s_tt_price') %>
        </div>
      </div>
      <%= f.simple_fields_for :bid_products do |ff|%>
        <div class="row mx-1 my-3 shadow-sm rounded-lg p-0 bg-white align-items-center" data-controller="product">
          <% product = Product.find(@bid.bid_products[ff.index].product_id) %>
          <div class="col-1 p-1">
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class: "product-avatar" %>
            <% else %>
              <%= image_tag 'product-pic.png', height: 80, width: 80, crop: :fill, class: "" %>
            <% end %>
          </div>
          <div class="col-5">
            <span class="m-2 h5"><%= product.description  %></span>
          </div>
          <div class="col-1 h5 text-center" data>
            <span data-target="product.quantity"><%= @bid.bid_products[ff.index].quantity %></span>
          </div>
          <div class="col-3 d-flex align-items-center">
            <span class="h5 m-0 mr-1">R$ </span>
            <%= ff.input :unit_price, label: false, as: :string, input_html: { class: "unit-price text-right", data: {'target' => "product.unitprice", 'action' => 'input->product#totalize input->bid#totalize'} } %>
          </div>
          <div class="col-2">
            <span class="h5 m-0 mr-1">R$ </span>
            <span class="h3 text-right" data-target="product.subtotal bid.subtotal"><%= @bid.bid_products[ff.index].quantity * @bid.bid_products[ff.index].unit_price %></span>
          </div>
        </div>
      <% end %>

      <div class="py-5 d-flex justify-content-between">
        <%= f.button :submit, value:I18n.translate('bid_edit.s_up_bid'), class: 'btn btn-primary btn-lg' %>
        <div class="px-5 bg-light d-flex align-items-center justify-content-center">
          <span class="h5 m-0 mr-1">R$ </span>
          <span class="h2 m-0" data-target="bid.total"><%= @bid.total %></span>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/control_footer' %>
</div>
