<div class="container">
  <h1>Here is the details of this BID</h1>

  <h3>Total price: $<%= @bid.total %> </h3>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Items Price</th>
    </tr>
  </thead>
  <tbody>
    <% @bid.bid_products.each do |bid_product| %>
      <tr>
        <td><%= bid_product.quantity %></td>
        <td><%= image_tag (""), height: 50, width: 50, crop: :fill, class: "" %></td>
        <td><%= bid_product.product.description %></td>
        <td><%= bid_product.unit_price * bid_product.quantity %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if @bid.seller.user == current_user %>
    <%= link_to "Voltar", seller_path(@bid), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Voltar", auctions_path, class: 'btn btn-primary' %>
  <% end %>

  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'bid_id', @bid.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>

</div>
