<div class="container">
  <div class="m-2 p-0 d-flex justify-content-between align-items-center">
    <h2><%= @bid.seller.name %></h2>
    <span class="h4 text-center">Total: <%= number_to_currency(@bid.total, unit: "R$ ", separator: ",", delimiter: "") %> </span>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Quant</th>
      <th scope="col"></th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço UN</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @bid.bid_products.each do |bid_product| %>
      <tr>
        <td><%= bid_product.quantity %></td>
        <td><%= image_tag Faker::LoremPixel.image(size: "75x75", is_gray: false, category: 'technics', number: 3), height: 75, width: 75, crop: :fill, class: "" %></td>
        <td><%= bid_product.product.description %></td>
        <td><%= number_to_currency(bid_product.unit_price, unit: "R$ ", separator: ",", delimiter: "") %></td>
        <td><%= number_to_currency(bid_product.unit_price * bid_product.quantity, unit: "R$ ", separator: ",", delimiter: "") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if @bid.seller.user == current_user %>
    <%= link_to "Voltar", seller_path(@bid), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Voltar", auctions_path, class: 'btn btn-primary' %>
  <% end %>

  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'bid_id', @bid.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
</div>
