<div class="container col-8 auctions">
  <div class="my-5 rounded-lg shadow p-4 bg-white fa-sm">
      <h3 class="text-center mb-3"><%= I18n.translate('auction_new.new_shop') %></h3>
      <%= simple_form_for @auction, input_html: {id: "new_auction"} do |f| %>
        <%= f.error_notification %>
        <%= f.input :list_name, label: I18n.translate('auction_new.list_name') %>
      <div class="d-flex justify-content-between align-items-end datetimepicker">
        <%= f.input :deadline, label: I18n.translate('auction_new.deadline'), as: :string, input_html: {id: "deadline_input"} %>
        <%= f.input :delivery_time, label: I18n.translate('auction_new.delivery'), as: :string, input_html: {id: "delivery_time_input"} %>
      </div>



      <h4 class="gray-text"><%= I18n.translate('auction_new.items') %></h4>


      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="w-100 text-center gray-text"><%= I18n.translate('auction_new.item') %></th>
            <th class="w-25 text-center gray-text" ><%= I18n.translate('auction_new.quantity') %></th>

          </tr>
        </thead>
        <tbody class="products">
          <%= f.simple_fields_for :auction_products do |auction_product| %>
            <%= render 'auction_product_fields', :f => auction_product  %>
          <% end %>
        </tbody>
      </table>
      <div class="form-actions d-flex justify-content-around">
        <%= link_to_add_association I18n.translate('auction_new.add_item'), f, :auction_products, class: 'btn btn-add-item',
        data: { association_insertion_node: '.products', association_insertion_method: :append } %>
        <%= f.button :submit,  I18n.translate('auction_new.post_list'), class: 'btn btn-post-list', data: { confirm: I18n.translate('auction_new.sure') } %>
      </div>
    <% end %>
  </div>
  <%= render 'shared/control_footer' %>
</div>
