<div class="container">
  <h1>Nova Lista</h1>
  <%= simple_form_for @auction do |f| %>
    <%= f.error_notification %>
    <%= f.input :list_name %>
    <div class="d-flex justify-content-between">
      <%= f.input :deadline, as: :string, input_html: {class: "datetimepicker"} %>
      <%= f.input :delivery_time, as: :string, input_html: {class: "datetimepicker"} %>
    </div>
    <%= f.input :sub_itens %>

    <h3>Products</h3>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody class="products">
        <%= f.simple_fields_for :auction_products do |auction_product| %>
          <%= render 'auction_product_fields', :f => auction_product  %>
        <% end %>
      </tbody>
    </table>
    <div class="form-actions">

      <%= link_to_add_association 'Add product', f, :auction_products, class: 'btn btn-primary',
      data: { association_insertion_node: '.products', association_insertion_method: :append } %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
