<div class="container">
  <h1>Nova Lista</h1>
  <%= simple_form_for @auction do |f| %>
    <%= f.input :status %>
    <%= f.input :deadline %>
    <%= f.simple_fields_for :auction_product do |b| %>
      <%= b.input :product, collection: @products.map { |product| [product.description, product.id, {data: {description: product.description}}] } %>
      <%= b.input :quantity, collection: (1..100) %>
    <% end %>
    <%= f.submit "Crie sua lista" %>
  <% end %>
</div>


