<div class="container auctions col-7">
  <div class="my-4 border rounded-lg shadow p-4 bg-white d-flex flex-column justify-content-between">
    <h3 class="gray-text"><%= @auction.list_name %></h3>

    <p><%= I18n.translate('auction_show.finished') %> <%= "#{@auction.deadline.to_time.strftime("%d/%m/%Y - %H:%M")}" %> </p>

    <div class="my-4 rounded-lg shadow-sm p-4 bg-light justify-content-between">
      <h4 class="gray-text text-center"><%= I18n.translate('auction_show.products') %></h4>
      <table class="table text-center">
        <thead>
        <tr valign="middle">
          <th class="gray-text" scope="col"><%= I18n.translate('auction_show.quant') %></th>
          <th class="gray-text" scope="col"></th>
          <th class="gray-text" scope="col"><%= I18n.translate('auction_show.descr') %></th>
        </tr>
      </thead>
      <tbody>
        <% @auction.auction_products.each do |auction_product| %>
          <tr valign="middle">
            <td><%= auction_product.quantity %></td>
            <td>
              <% if auction_product.product.photo.attached? %>
                <%= cl_image_tag auction_product.product.photo.key, class: "product-avatar" %>
              <% else %>
                <%= image_tag 'product-pic.png', height: 80, width: 80, crop: :fill, class: "avatar-square-lg" %>
              <% end %>
            </td>
            <td><%= auction_product.product.description %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>

    <div class="my-4 rounded-lg shadow-sm p-4 bg-light">
      <h4 class="gray-text"><%= I18n.translate('auction_show.bids') %></h4>
      <div id="bids" data-auction-id="<%= @auction.id %>">
        <% @auction.bids.order(:total).each do |bid| %>
          <div class="bid-container my-1 rounded-lg shadow-sm list-group-item d-flex justify-content-between" id="bid-<%= bid.id %>">
              <div>
                <% if bid.seller.photo.attached? %>
                  <%= cl_image_tag bid.seller.photo.key, height: 80, width: 80, crop: :fill, class: "m-2 avatar-square-lg" %>
                <% else %>
                  <%= image_tag 'seller-default.png', class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
                <span><%= bid.seller.name %></span>
              </div>
              <p class="h5 d-flex flex-column justify-content-center align-items-center m-0"><%= number_to_currency(bid.total, unit: "R$ ", separator: ",", delimiter: "") %></p>
              <span class="d-flex flex-column justify-content-center align-items-center"><%= link_to '<i class="fas fa-search"></i>'.html_safe, bid_path(bid) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/control_footer' %>
</div>
