<div class="container">
  <h3>Detalhes da lista</h3>

  <h6>Deadline: <%= @auction.deadline %> </h6>

  <h4>Produtos</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @auction.auction_products.each do |auction_product| %>
      <tr>
        <td><%= auction_product.quantity %></td>
        <td><%= image_tag (""), height: 50, width: 50, crop: :fill, class: "" %></td>
        <td><%= auction_product.product.description %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <h4>Lances</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Vendedor</th>
      <th scope="col">Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @auction.bids.each do |bid| %>
      <tr>
        <td><%= bid.seller.name %></td>
        <td><%= bid.total %></td>
        <td><%= link_to '<i class="fas fa-search"></i>'.html_safe, bid_path(bid), class: 'col-1' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <% if Seller.find_by(user_id: current_user.id) %>
    <%= link_to "Voltar", seller_path(@auction), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Voltar", auctions_path, class: 'btn btn-primary' %>
    <%= link_to "Editar", auctions_path, class: "btn btn-danger" %>
  <% end %>

</div>

