<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%#= image_tag(@teddy.photo_url, width: '100%') %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag (Faker::LoremPixel.image(size: "75x75", is_gray: false, category: 'technics', number: 3)), height: 200, width: 200, crop: :fill, class: "" %></div>
    <div class="col">
      <h2>Payment order <%= @order.id %> confirmed!<small><span class="badge badge-primary"><%= @order.status %></span></small></h2>
      <ul class="list-unstyled">
        <li><strong>EMITIDO EM</strong> <%= @order.created_at.to_date %></li>
        <li><strong>BID</strong> <%= @order.bid.auction.list_name %> [<%= @order.bid_id %>]</li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p>Envio estimado <strong>2 dias úteis</strong></p>
    </div>
  </div>
</div>
