<div class="container">
  <div class="row justify-content-center mrg-conf-order">
    <div class="my-4 p-4 bg-white col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-4">
      <div class="col">
        <h3 class="my-5 text-center"><i class="fas fa-receipt"></i> <%= I18n.translate('order_show.o_order_num') %> <%= @order.id %></h3>
        <ul class="my-5 list-unstyled">
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_created') %></strong><span><%= "#{@order.created_at.to_time.strftime("%d/%m/%Y - %H:%M")}" %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_seller') %></strong><span><%= @order.bid.seller.name %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_total') %></strong><span><%= number_to_currency(@order.amount, unit: "R$ ", separator: ",", delimiter: "") %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_method') %></strong><span><%= I18n.translate('order_show.o_credit') %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_status') %></strong><strong><span class="badge badge-success"><%= I18n.translate('order_show.o_confirmed') %></span></strong></li>
        </ul>
        <h3 class="my-5 py-3 text-center bg-primary text-white"><%= I18n.translate('order_show.o_thank') %></h3>
      </div>
    </div>
  </div>
  <%= render 'shared/control_footer' %>
</div>
