<div class="container">
  <div class="row justify-content-center mrg-conf-order">
    <div class="my-4 p-4 bg-white col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-4">
      <div class="col">
        <h3 class="my-5 text-center"><i class="fas fa-receipt"></i> <%= I18n.translate('order_show.o_order_num') %> <%= @order.id %> <small><span class="badge badge-primary"><%= @order.status %></span></small></h3>
        <ul class="my-5 list-unstyled">
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_created') %></strong><span><%= "#{@order.created_at.to_time.strftime("%d/%m/%Y - %H:%M")}" %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_seller') %></strong><span><%= @order.bid.seller.name %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_total') %></strong><span><%= humanized_money_with_symbol @order.amount %></span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_method') %></strong><span>CREDIT CARD</span></li>
          <li class="mt-1 d-flex justify-content-between"><strong><%= I18n.translate('order_show.o_status') %></strong><span>CONFIRMED</span></li>
        </ul>
        <h3 class="my-5 text-center"><%= I18n.translate('order_show.o_thank') %></h3>
      </div>
    </div>
  </div>
  <%= render 'shared/control_footer' %>
</div>
