<div class="container">
  <div class="row justify-content-center mrg-conf-order">
    <div class="my-4 p-4 bg-white col-xs-12 col-sm-12 col-md-9 col-lg-9 col-sm-offset-4 larg-auc-new">
      <div class="col">
        <h3 class="gray-text text-center"><%= I18n.translate('p_new.confirm') %></h3>
        <ul class="list-group">
          <li class="list-group-item">
              <div class="row">
                <span class="col-1 text-left"><%= I18n.translate('p_new.qtde') %></span>
                <span class="col-6 text-center"><%= I18n.translate('p_new.product') %></span>
                <span class="col-2 text-center"><%= I18n.translate('p_new.un_price') %></span>
                <span class="col-2 text-center"><%= I18n.translate('p_new.total_i') %></span>
              </div>
            </li>
          <% @order.bid.bid_products.each do |bid_product| %>
            <li class="list-group-item">
              <div class="row">
                <span class="col-1 text-center"><%= bid_product.quantity %></span>
                <span class="col-6 text-center"><%= bid_product.product.description %></span>
                <span class="col-2 text-center"><%= number_to_currency(bid_product.unit_price, unit: "R$ ", separator: ",", delimiter: "") %></span>
                <span class="col-2 text-center"><%= number_to_currency(bid_product.unit_price * bid_product.quantity, unit: "R$ ", separator: ",", delimiter: "") %></span>
              </div>
            </li>
          <% end %>
        </ul>

        <p class="my-2 h5 text-right">Total: <strong><%= number_to_currency(@order.amount, unit: "R$ ", separator: ",", delimiter: "") %></strong></p>

        <div class="my-3 border p-2">
          <h4><%= I18n.translate('p_new.del_info') %></h4>
          <p class="text-left"><%= I18n.translate('p_new.del_date') %>
            <%= @order.bid.auction.delivery_time.to_time.strftime("%d/%m/%Y - %H:%M")%>
          </p>
          <div>
            <p class="text-left">
            <%= I18n.translate('p_new.address') %>: <%= @order.bid.auction.user.address %>
          </p>
          </div>
        </div>

        <%= button_tag I18n.translate('p_new.g_pay').html_safe, id: "pay", class: "btn btn-primary" %>

        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>

      </div>
    </div>
  </div>
  <%= render 'shared/control_footer' %>
</div>
