<!DOCTYPE html>
<html>
  <head>
    <title>DaOLance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <footer class="py-3">
        <p class="text-center">
          Developed at <%= link_to "https://www.lewagon.com", :target => "_blank", class: "navbar-brand" do %>
            <%= image_tag "logolw.png", height: 30, width: 30, crop: :fill  %>
          <% end %><br> by
          <strong class="colab-color"><%= link_to "Cristiane Silva", "https://github.com/cristianeasilva", :target => "_blank", class: "text-info" %></strong>,
          <strong><%= link_to "Leandro Barroso", "https://leandrobarroso.github.io/profile/", :target => "_blank", class: "text-info" %></strong>  and
          <strong><%= link_to "Ewerton Teixeira", "https://github.com/ewertonteixeira10", :target => "_blank", class: "text-info" %></strong>
        </p>
        <!-- <div class="pt-3 text-light text-center">Icons made by <a class="text-info" href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a class="text-info" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    </footer>
    </body>
</html>
